/* App.css */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.App {
  text-align: center;
  padding: 20px;
}

.title {
  color: #007bff;
  font-size: 2rem;
  margin-bottom: 40px;
}

.flight-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flight-item {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  border: 5px solid rgb(208, 208, 208);
}

.flight-item:hover {
  transform: translateY(-5px);
}

.flight-item-content {
  padding: 20px;
}

.flight-item h2 {
  color: #333;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 1.5rem;
}

.flight-item p {
  color: #666;
  margin: 5px 0;
  font-weight: 500;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 10px;
}

.flight-item span {
  font-weight: bold;
  color: #666;
}

.flight-item-price {
  font-size: 1.25rem;
  color: #007bff;
  font-weight: bold;
}

/* App.css */
/* Existing styles */
.sort-dropdown {
  margin-bottom: 20px;
}

.sort-dropdown label {
  margin-right: 10px;
}

.sort-dropdown select {
  padding: 8px 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.sort-dropdown select:hover {
  border-color: #0056b3;
}

.sort-dropdown select:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

/* App.css */
/* Existing styles */
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  outline: none;
}

.filter-dropdown {
  display: flex;
  align-items: center;
}

.filter-dropdown label {
  margin-right: 10px;
}

.filter-dropdown select {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filter-dropdown select:hover {
  border-color: #0056b3;
}

.filter-dropdown select:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
